<% layout('layout/boilerplate') -%>
<a href="/readings/new">Add a Reading</a>
<div class="row">
  <% for (let reading of readings.reverse()) { %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card mb-5" >
          <img src="https://source.unsplash.com/collection/483251" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title"><%= reading.title %></h5>
            <p class="card-text"><%= reading.body.substring(0, 60) %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted">Level: <%= reading.level %></li>
            <li class="list-group-item">Age: <%= reading.age %></li>
          </ul>
          <div class="card-footer text-muted">
            <%= reading.date %>
          </div>
          <div class="card-footer text-muted">
            <a class="btn btn-success" href="/readings/<%= reading._id %>">View Reading</a>
          </div>
      </div>          
    </div>
  <% } %>
</div>